[submodule "themes/gohugo-theme-ananke"]
	path = themes/gohugo-theme-ananke
	url = git@github.com:budparr/gohugo-theme-ananke.git
[submodule "themes/a-a-theme"]
	path = themes/a-a-theme
	url = git@github.com:tomoyanonymous/a-a-theme.git
